/*Estilos generales del cuerpo*/
* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-image: repeating-linear-gradient(
    90deg,
    #fff,
    #fff 20px,
    #fbfbfb 20px,
    #fbfbfb 40px
  );
  
}
div {
  
  background-color: #fcfcfc;
  text-align: center;
  margin-left: 80px;
  margin-right: 80px;
}
h2 {
  color: #3f37c9;
}
p {
  color: #457b9d;
}
.contenedorPrincipal {
  width: 70%;
  max-width: 1000px;
  margin: 20px auto;
  display: grid;
  border: none;
  border-radius: 3px;
  background-color: #d6dbdf;
  grid-row-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "cabecero			cabecero   	cabecero"
    "listasOrdenadas		listasOrdenadas 	listasOrdenadas"
    "tabla		tabla 	tabla"
    "listaDescripcion	 		listaDescripcion 		listaDescripcion"
    "listaDescripcion listaDescripcion listaDescripcion";
}

/*Estilo header o logo*/
.cabecero {
   width: 100%;
  background-color: white;
  box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
  border-radius: 1px;
  grid-area: cabecero;
  row-gap: 1ch;
}
.logo {
  border: none;
  background-color: white;
}
.logo h1 {
  font-size: 30px;
}

.logo .iniciales-logo {
  padding: 5px;
  border: 2px solid #000;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 15px;
}

/*Estilo Titulo*/
h1 {
  color: #1d3557;
}

/*Estilos de Barra Navegacion*/
ul {
  list-style-type: none;
  background-color: #457b9d;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}
li a:hover {
  background-color: #1d3557;
}
#menuA {   
  position: absolute; 
  margin: 3.7rem 0.5rem 0.5rem -6.4rem; 
  width: 23%; 
  min-width: 200px; 
  line-height: 20pt; /*separación entre lineas*/ 
}
.showme{                 /* Capa emergente */ 
  position: absolute; 
  display: none; 
} 
.showhim:hover .showme{ 
  display: block; 
}
.menumov {
  position: absolute;
  text-align: center;
  padding: 30px;
  text-decoration: none; 
  color: rgb(0, 0, 0); 
  background-color: #457b9d;
}
/* ------Menu responsivo------- */
@media screen and (min-width: 1000px){
   
  #menuA{
      display:none;
  }

}
@media screen and (max-width: 1000px){
  
  #menuA{
  display:none;
  }

}
@media screen and (max-width: 750px){
  
  .elivi {
      display:none;
  }
  
  #menuA{
      display:block;
  }
  
}
@media screen and (max-width: 550px){
  
  #menuA{
      display:block;
  }
  
}

/*Estilos Listas Ordenadas*/
ol {
  list-style: none;
  counter-reset: contador;
}
ol li {
  float: none;
  counter-increment: contador;
}
ol li::before {
  content: "Curso " counter(contador) ") ";
}
ol li::after {
  content: ".";
}
.listasOrdenadas {
  border: none;
  grid-area: listasOrdenadas;
}

/*Estilos de Tabla*/
.tabla {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 50%;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}
caption {
  color: #e63946;
  font-family: "Trocchi", serif;
  font-size: 45px;
  line-height: 70px;
}
th {
  color: #f1faee;
  background-color: #1d3557;
}
tr:nth-child(even) {
  background-color: #f1faee;
}
tr:nth-child(odd) {
  background-color: #a8dadc;
}
.contTabla {
  border: none;
  grid-area: tabla;
}

/*Listas de Descripcion*/
.listaDescripcion {
  margin-bottom: 20px;
  border: none;
  grid-area: listaDescripcion;
}



