* {
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  border: none;
}
.cabecero {
  width: 100%;
  background: black;
  background-size: cover;
  box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
  border-radius: 1px;
  display: grid;
}
.logo {
  border: none;
  padding: 40px;
  backdrop-filter: blur(12px);
  text-align: center;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  position: sticky;
}
.logo h1 {
  color: #fafbfc;
  font-size: 30px;
  font-family: revert;
}
.logoPhoto {
  max-width: 100px;
}
.logo .iniciales-logo {
  padding: 5px;
  border: 2px solid #000;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 15px;
}
.elivi {
  border: none;
}
/*-------------------------------------Estilo Titulo--------------------------------*/
h1 {
  color: #1d3557;
  text-align: center;
  margin-bottom: auto;
  padding-bottom: 10px;
  margin-top: auto;
}

/*-----------------------------Estilos de Barra Navegacion-----------------------------*/
ul {
  list-style-type: none;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    117deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(13, 24, 40, 1) 7%,
    rgba(2, 127, 194, 1) 14%,
    rgba(39, 68, 83, 1) 23%,
    rgba(10, 150, 235, 1) 28%,
    rgba(20, 135, 173, 1) 38%,
    rgba(0, 0, 0, 1) 68%
  );
  overflow: hidden;
  margin: 0;
  padding: 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  transition: all ease-in-out 450ms;
}
li a:hover {
  background-color: #34568b;
}
.hide {
  padding: 16px;
  font-size: 22px;
  background: black;
  color: white;
  cursor: pointer;
  display: none;
}

/* ------------------------------------Menu responsivo----------------------------- */
@media (max-width: 668px) {
  ul li {
    width: 100%;
    padding: 15px;
    justify-content: center;
  }
  .fac {
    height: 40px;

    padding: 2px;
    font-size: 15px;
  }
  .hide {
    display: block;
    color: white;
  }

  nav ul {
    display: none;
  }
 
}

/*----------------------------Estilos footer---------------------*/
.foot {
  width: 100%;
  background-color: #000;
}
.contenedorFooter {
  background-color: #000;

  margin-left: auto;
  margin-right: auto;
  display: grid;
  width: 90%;
  padding: 10px;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
}
.contenedorFooter .titulo1Foot {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  color: #fbfbfb;
  text-align: center;
  border: 1px dashed #f1faee;
}
.titulo1Foot {
  background-color: #000;
}
.titulo1Foot .logoFoter {
  border: 1px solid #f1faee;
  padding: 7px;
  display: inline-block;
}
.descripcionFoot {
  background-color: #000;
}
.contenedorFooter h4 {
  color: #fbfbfb;
}
.contenedorFooter .descripcionFoot {
  font-size: 9px;
  justify-content: center;
  text-align: justify;
  color: #457b9d;
}
.contenedorFooter .end {
  font-size: 10px;
  color: #457b9d;
  text-align: center;
  background-color: #000;
}
