/*Estilo general body*/
div, iframe, a, h1{
    margin-left: auto;
    margin-right: auto;
}
body{
    background-color: #D5D8DC;
    min-width: 600px;
    font-family: Arial, Helvetica, sans-serif;
}
.contenedor{
    margin: 50px;
    background-color: #ffffff;
    border-radius: 3px;
    text-align: center;
}

/*Estilo Titulo*/
.titulo {
    padding-top: 30px;
    color: #F1948A;
}
.titulo:hover{
    color: black;
}

/*Estilo Iframe*/
.marco{
    width: 80%;
    height: 400px;
    border: 1px solid #F1948A;
   
    margin-top: 30px;
    border-radius: 1px;
    
}

/*Estilo Boton Volver*/
.btnVolver{
    margin-left: 72%;
    text-decoration: none;
    padding: 20px;
    background-color: #2ECC71;
    border-radius: 3px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
.contenedorBtn{
    padding-top: 20px;
    padding-bottom: 40px;
}
.btnVolver:hover{
    background-color: #82E0AA;
}





