/*---------------------Estilos generales del cuerpo---------------------------*/
* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-image: repeating-linear-gradient(
    90deg,
    #fff,
    #fff 20px,
    #fbfbfb 20px,
    #fbfbfb 40px
  );
  min-width: 360px;
}
h2 {
  color: #3f37c9;
}
.contenedorPrincipal {
  width: 90%;
  gap: 20px;
  max-width: 80%;
  margin: 20px auto;
  display: grid;
  border: none;
  border-radius: 4px;
  background-color: #d6dbdf;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  
}
.cabecero h1{
  text-align: center;
}
/*-----------------------------------Media query para dispositivos mobile-----------------------------*/
@media screen and (max-width: 768px){
  table{
    font-size: small;
    max-width: 400px;
  }
  h1{
    font-size: 18px;
  }
}

/*---------------------------------------Estilo header o logo--------------------------------*/
.cabecero {
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
  border-radius: 1px;  
}
.logo {
  border: none;
  background-color: white;
  text-align: center;
}
.logo h1 {
  font-size: 30px;
}

.logo .iniciales-logo {
  padding: 5px;
  border: 2px solid #000;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 15px;
}

/*--------------------------------------------------------Estilo Titulo--------------------------------*/
h1 {
  color: #1d3557;
}

/*-------------------------------------------Estilos de Barra Navegacion-----------------------------*/
ul {
  list-style-type: none;
  background-color: #457b9d;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  transition: all ease-in-out 450ms;
}
li a:hover {
  background-color: #1d3557;
}
.hide {
  padding: 16px;
  font-size: 22px;
  background: #112d4e;
  color: white;
  cursor: pointer;
  display: none;
}

/* ------------------------------------Menu responsivo----------------------------- */
@media (max-width: 668px) {
  ul li {
    width: 100%;
    padding: 15px;
    justify-content: center;
    
  }

  .hide {
    display: block;
  }

  nav ul {
  display: none;

  }
}

/*----------------------------Estilos Listas Ordenadas--------------------------*/
ol {
  list-style: none;
  counter-reset: contador;
}
ol li {
  float: none;
  counter-increment: contador;
}
ol li::before {
  content: "Curso " counter(contador) ") ";
}
ol li::after {
  content: ".";
}
.listasOrdenadas {
  border: none;
  text-align: center;
}

/*----------------------------Estilos de Tabla--------------------------*/
.contTabla {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}
caption {
  color: #e63946;
  font-family: "Trocchi", serif;
  font-size: 20px;
  margin-bottom: 5px;
}
th {
  color: #f1faee;
  background-color: #1d3557;
}
tr:nth-child(even) {
  background-color: #f1faee;
}
tr:nth-child(odd) {
  background-color: #a8dadc;
}
.contTabla {
  border: none;
}

/*------------------------Listas de Descripcion----------------------*/
.listaDescripcion {
  margin-bottom: 20px;
  border: none;
  text-align: center;
}

/*----------------------------Estilos footer---------------------*/
.foot{
  width: 100%;
  background-color: #000;
}
.contenedorFooter{
  background-color: #000;
  margin: 20px auto;
  display: grid;
  width: 90%;
  padding: 10px;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
}
.contenedorFooter .titulo1Foot{
  margin-top: 10px;
  color: #fbfbfb;
  text-align: left;
}
.contenedorFooter h4{
  color: #fbfbfb;
}
.contenedorFooter .descripcionFoot{
  font-size: smaller;
  justify-content: center;
  text-align: justify;
  color: #457b9d;
}
.contenedorFooter .end{
  font-size: small;
  color: #457b9d;
  text-align: center;
  
}

